<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Vue | API</title>

            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="css/doctum.css">
        <link rel="stylesheet" type="text/css" href="fonts/doctum-font.css">
        <script src="js/jquery-3.5.1.slim.min.js"></script>
        <script async defer src="doctum.js"></script>
        <script async defer src="js/bootstrap.min.js"></script>
        <script async defer src="js/autocomplete.min.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    </head>

    <body id="class" data-name="class:Vue" data-root-path="" data-search-index-url="doctum-search.json">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <div class="search-bar hidden" id="search-progress-bar-container">
            <div class="progress">
                <div class="progress-bar" role="progressbar" id="search-progress-bar"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
        </div>
        <form id="search-form" action="search.html">
            <span class="icon icon-search"></span>
            <input name="search"
                   id="doctum-search-auto-complete"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                   autocapitalize="off">
            <div class="auto-complete-results" id="auto-complete-results"></div>
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="classes.html">Classes</a></li>
                    <li><a href="namespaces.html">Namespaces</a></li>
                    <li><a href="interfaces.html">Interfaces</a></li>
                    <li><a href="traits.html">Traits</a></li>
                    <li><a href="doc-index.html">Index</a></li>
                    <li><a href="search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                            <div id="page-content">
    <div class="page-header">
        <h1>Vue    
            </h1>
    </div>

    
    <p>        class
    <strong>Vue</strong>
</p>

        
    
        

            <div class="description">
            <p>用于生成vue2或vue3的JS代码</p>                    </div>
            
        
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_start_date">
                                                                                
                                                                                
                                    </td>
                <td>$start_date</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_version">
                                                                                
                                                                                
                                    </td>
                <td>$version</td>
                <td class="last"><p>vue版本，默认为2
当为3时，请加载vue3的JS，如 <a href="https://unpkg.com/vue@3/dist/vue.global.js">https://unpkg.com/vue@3/dist/vue.global.js</a></p></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_encodejs">
                                                                                
                                                                                
                                    </td>
                <td>$encodejs</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_upload_url">
                                                                                
                                                                                
                                    </td>
                <td>$upload_url</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_opt">
                                                                                
                                                                                
                                    </td>
                <td>$opt</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_after_save">
                                                                                
                                                                                
                                    </td>
                <td>$after_save</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_editor_timeout">
                                                                                
                                                                                
                                    </td>
                <td>$editor_timeout</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_opt_method">
                                                                                
                                                                                
                                    </td>
                <td>$opt_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_opt_data">
                                                                                
                                                                                
                                    </td>
                <td>$opt_data</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_page_url">
                                                                                
                                                                                
                                    </td>
                <td>$page_url</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_add_url">
                                                                                
                                                                                
                                    </td>
                <td>$add_url</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_edit_url">
                                                                                
                                                                                
                                    </td>
                <td>$edit_url</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_id">
                                                                                
                                                                                
                                    </td>
                <td>$id</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_load_name">
                                                                                
                                                                                
                                    </td>
                <td>$load_name</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_data">
                                                                                
                                                                                
                                    </td>
                <td>$data</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_page_data">
                                                                                
                                                                                
                                    </td>
                <td>$page_data</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_watch">
                                                                                
                                                                                
                                    </td>
                <td>$watch</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_mounted">
                                                                                
                                                                                
                                    </td>
                <td>$mounted</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_created_js">
                                                                                
                                                                                
                                    </td>
                <td>$created_js</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_methods">
                                                                                
                                                                                
                                    </td>
                <td>$methods</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_create_update_load">
                                                                                
                                                                                
                                    </td>
                <td>$create_update_load</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_page_method">
                                                                                
                                                                                
                                    </td>
                <td>$page_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_reset_method">
                                                                                
                                                                                
                                    </td>
                <td>$reset_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_add_method">
                                                                                
                                                                                
                                    </td>
                <td>$add_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_edit_method">
                                                                                
                                                                                
                                    </td>
                <td>$edit_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_tree_field">
                                                                                
                                                                                
                                    </td>
                <td>$tree_field</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_tree_method">
                                                                                
                                                                                
                                    </td>
                <td>$tree_method</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_data_form">
                                                                                
                                                                                
                                    </td>
                <td>$data_form</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_search_date">
                                                                                
                                                                                
                                    </td>
                <td>$search_date</td>
                <td class="last"></td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property__editor">
                    static                                                            
                                                                                
                                    </td>
                <td>$_editor</td>
                <td class="last">生成编辑器HTML</td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method___construct">__construct</a>()
        
                                            <p>construct</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_data_form">data_form</a>($key, $val)
        
                                            <p>form字段</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_data">data</a>($key, $val)
        
                                            <p><p>定义data
$vue-&gt;data(&quot;object&quot;,&quot;js:{}&quot;);
$vue-&gt;data(&quot;arr&quot;,&quot;[]&quot;);
$vue-&gt;data(&quot;aa&quot;,500);
$vue-&gt;data(&quot;bb&quot;,'
{
s:1,
ss:3
}
');
$vue-&gt;data(&quot;true&quot;,true);
$vue-&gt;data(&quot;false&quot;,false);
$vue-&gt;data(&quot;json&quot;,json_encode(['a'=&gt;1]));
$vue-&gt;data(&quot;json1&quot;,['a','b']);</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_parse_data">parse_data</a>($val)
        
                                            <p>解析data</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_method">method</a>($name, $val)
        
                                            <p>支持method</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_watch">watch</a>($name, $val)
        
                                            <p>支持watch</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_afterSave">afterSave</a>($val)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_mounted">mounted</a>($name, $val)
        
                                            <p><p>$vue-&gt;mounted('',&quot;js:
const that = this
window.onresize = () =&gt; {
return (() =&gt; {
that.height = that.\$refs.tableCot.offsetHeight;
})()
}
&quot;);</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_created">created</a>($methods)
        
                                            <p>支持created(['load()'])</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_run">run</a>()
        
                                            <p><p>生成vue js代码</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_parse_v">parse_v</a>($k, $v)
        
                                            <p>解析value</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_init">init</a>()
        
                                            <p>init</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_crud">crud</a>()
        
                                            <p>支持crud</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_editor_method">editor_method</a>()
        
                                            <p>编辑器</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_editor">editor</a>($name = &#039;body&#039;)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_load_editor_add">load_editor_add</a>()
        
                                            <p>添加</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_load_editor_edit">load_editor_edit</a>()
        
                                            <p>更新</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_load_editor">load_editor</a>()
        
                                            <p>加载wangeditor</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_add_date">add_date</a>()
        
                                            <p><p>日期区间：
&lt;el-date-picker @change=&quot;reload&quot; v-model=&quot;where.date&quot; value-format=&quot;yyyy-MM-dd&quot; :picker-options=&quot;pickerOptions&quot; size=&quot;medium&quot; type=&quot;daterange&quot; range-separator=&quot;至&quot; start-placeholder=&quot;开始日期&quot; end-placeholder=&quot;结束日期&quot;&gt;
</el-date-picker></p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_reset_date">reset_date</a>()
        
                                            <p>重置时间字段</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_sort">sort</a>($element, $change_obj = &#039;lists_sort&#039;, $options = [])
        
                                            <p><p>排序
misc('sortable');
$vue-&gt;sort(&quot;.sortable1 tbody&quot;,&quot;_this.form.xcx_banner&quot;);</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_pager">pager</a>($load = &#039;load&#039;, $where = &#039;where&#039;, $arr = [])
        
                                            <p><p>输出element el-pager</p></p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_addDateTimeSelect">addDateTimeSelect</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_get_date_range_flag">get_date_range_flag</a>($a, $b, $allow_1)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8">
                    <a href="#method_get_date_area">get_date_area</a>()
        
                                            <p>设置时间选择区间</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at line 100</div>
        <code>                    
    <strong>__construct</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>construct</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_data_form">
        <div class="location">at line 127</div>
        <code>                    
    <strong>data_form</strong>($key, $val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>form字段</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_data">
        <div class="location">at line 147</div>
        <code>                    
    <strong>data</strong>($key, $val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>定义data
$vue-&gt;data(&quot;object&quot;,&quot;js:{}&quot;);
$vue-&gt;data(&quot;arr&quot;,&quot;[]&quot;);
$vue-&gt;data(&quot;aa&quot;,500);
$vue-&gt;data(&quot;bb&quot;,'
{
s:1,
ss:3
}
');
$vue-&gt;data(&quot;true&quot;,true);
$vue-&gt;data(&quot;false&quot;,false);
$vue-&gt;data(&quot;json&quot;,json_encode(['a'=&gt;1]));
$vue-&gt;data(&quot;json1&quot;,['a','b']);</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_parse_data">
        <div class="location">at line 154</div>
        <code>            protected        
    <strong>parse_data</strong>($val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>解析data</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_method">
        <div class="location">at line 180</div>
        <code>                    
    <strong>method</strong>($name, $val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>支持method</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_watch">
        <div class="location">at line 190</div>
        <code>                    
    <strong>watch</strong>($name, $val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>支持watch</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_afterSave">
        <div class="location">at line 198</div>
        <code>                    
    <strong>afterSave</strong>($val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_mounted">
        <div class="location">at line 212</div>
        <code>                    
    <strong>mounted</strong>($name, $val)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>$vue-&gt;mounted('',&quot;js:
const that = this
window.onresize = () =&gt; {
return (() =&gt; {
that.height = that.\$refs.tableCot.offsetHeight;
})()
}
&quot;);</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_created">
        <div class="location">at line 220</div>
        <code>                    
    <strong>created</strong>($methods)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>支持created(['load()'])</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$methods</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_run">
        <div class="location">at line 241</div>
        <code>                    
    <strong>run</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>生成vue js代码</p></p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_parse_v">
        <div class="location">at line 385</div>
        <code>            protected        
    <strong>parse_v</strong>($k, $v)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>解析value</p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$k</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$v</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_init">
        <div class="location">at line 404</div>
        <code>                    
    <strong>init</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>init</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_crud">
        <div class="location">at line 471</div>
        <code>                    
    <strong>crud</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>支持crud</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_editor_method">
        <div class="location">at line 520</div>
        <code>                    
    <strong>editor_method</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>编辑器</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_editor">
        <div class="location">at line 532</div>
        <code>                    
    <strong>editor</strong>($name = &#039;body&#039;)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_load_editor_add">
        <div class="location">at line 543</div>
        <code>                    
    <strong>load_editor_add</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>添加</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_load_editor_edit">
        <div class="location">at line 562</div>
        <code>                    
    <strong>load_editor_edit</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>更新</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_load_editor">
        <div class="location">at line 582</div>
        <code>                    
    <strong>load_editor</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>加载wangeditor</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_add_date">
        <div class="location">at line 636</div>
        <code>                    
    <strong>add_date</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>日期区间：
&lt;el-date-picker @change=&quot;reload&quot; v-model=&quot;where.date&quot; value-format=&quot;yyyy-MM-dd&quot; :picker-options=&quot;pickerOptions&quot; size=&quot;medium&quot; type=&quot;daterange&quot; range-separator=&quot;至&quot; start-placeholder=&quot;开始日期&quot; end-placeholder=&quot;结束日期&quot;&gt;
</el-date-picker></p></p>                <p><p>$date    = g('date');
if ($date[0]) {
$where['created_at[&gt;]'] = date(&quot;Y-m-d 00:00:00&quot;, strtotime($date[0]));
}
if ($date[1]) {
$where['created_at[&lt;=]'] =  date(&quot;Y-m-d 23:59:59&quot;, strtotime($date[1]));
}</p></p>        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_reset_date">
        <div class="location">at line 643</div>
        <code>                    
    <strong>reset_date</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>重置时间字段</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_sort">
        <div class="location">at line 654</div>
        <code>                    
    <strong>sort</strong>($element, $change_obj = &#039;lists_sort&#039;, $options = [])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>排序
misc('sortable');
$vue-&gt;sort(&quot;.sortable1 tbody&quot;,&quot;_this.form.xcx_banner&quot;);</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$element</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$change_obj</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$options</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_pager">
        <div class="location">at line 698</div>
        <code>                    
    <strong>pager</strong>($load = &#039;load&#039;, $where = &#039;where&#039;, $arr = [])
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p><p>输出element el-pager</p></p>                        
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$load</td>
                <td>load或load()</td>
            </tr>
                    <tr>
                <td></td>
                <td>$where</td>
                <td>分页传参数</td>
            </tr>
                    <tr>
                <td></td>
                <td>$arr</td>
                <td><p>el-pager参数 ['@size-change'=&gt;'',':page-sizes']</p></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addDateTimeSelect">
        <div class="location">at line 750</div>
        <code>                    
    <strong>addDateTimeSelect</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_get_date_range_flag">
        <div class="location">at line 754</div>
        <code>            protected        
    <strong>get_date_range_flag</strong>($a, $b, $allow_1)
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p class="no-description">No description</p>
                    
        </div>
        <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$a</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$b</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$allow_1</td>
                <td></td>
            </tr>
            </table>

            
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_get_date_area">
        <div class="location">at line 763</div>
        <code>            protected        
    <strong>get_date_area</strong>()
        </code>
    </h3>
    <div class="details">    
    
            

        <div class="method-description">
                            <p>设置时间选择区间</p>                        
        </div>
        <div class="tags">
            
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
</div><div id="footer">
        Generated by <a href="https://github.com/code-lts/doctum">Doctum, a API Documentation generator and fork of Sami</a>.</div></div>
    </div>
    </body>

</html>
